body {
  background: grey;
  margin: 0px;
}

#container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#header {
  width: 100vw;
  height: 56px;
  background: white;
  position: relative;
}

#header-left {
  width: 13%;
  height: 100%;
  background: white;
  float: left;
}

#main-menu {
  width: 25%;
  height: 100%;
  padding-left: 10%;
  float: left;
  transform: translateY(-5%);
  background: white;
}

#main-menu:hover {
  cursor: pointer;
}

#main-menu i {
  position: relative;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
  font-size: 1.2rem;
}

#logo {
  width: 65%;
  height: 99%;
  background: url(./logo.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  float: right;
}

#logo:hover {
  cursor: pointer;
}

#header-center {
  width: 40%;
  height: 60%;
  position: absolute;
  left: 47%;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

#searchBar {
  padding-left: 10px;
  height: 95%;
  float: left;
  border: solid 1px grey;
}

#searchBar input {
  width: 482px;
  height: 30px;
  border: 0px;
  clear: both;
  padding: 0px;
}

#searchEnter {
  width: 25px;
  height: 80%;
  border: solid 1px grey;
  border-left: none;
  float: left;
  padding: 5px 5px 0 5px;
  text-align: center;
}

#voiceControl {
  width: 40px;
  height: 100%;
  float: left;
  line-height: 30px;
  text-align: center;
}

#voiceControl i {
  transform: translateY(1.5px);
}

#header-right {
  position: relative;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  float: right;
  overflow: hidden;
  width: 13%;
  height: 80%;
  padding-top: 10px;
}

#header-right table {
  display: table;
  border-collapse: separate;
  box-sizing: border-box;
  text-indent: initial;
  border-spacing: 2px;
  margin: 0;
}

#header-right table td {
  height: 100%; 
}

#header-right table i {
  font-size: 22px;
  line-height: 36px;
}

#header-right table tr td:hover {
  cursor: pointer;
}

#left {
  width: 17%;
  height: 94%;
  float: left;
  background-color: white;
  overflow: hidden;
}

#left:hover {
  overflow-y: scroll;
}

#main {
  /* width: 190px; */
  height: 1130px;
  overflow-x: hidden;
  background: white;
}

.a1 {
  width: 260px;
  height: 100px;
}

.a1 tr:hover {
  padding: 0px 10px;
  background: rgb(173, 173, 173);
  cursor: pointer;
}

.a1 td {
  width: 50px;
  height: 40px;
}

.a1 i {
  font-size: 15px;
}

#right {
  width: 83%;
  height: 94%;
  margin: 0px;
  background: #f5f5f5;
  float: right;
  overflow-x: hidden;
}

body table { 
  width: 100%; 
  margin: 30px 0;
}

body table td {
  width: 25%;
  height: 215px;
}

.container {
  width: 100%;
  height: 215px;
  position: relative;
}

.container:hover {
  cursor: pointer;
}

.watchLater {
  position: absolute;
  font-size: 135%;
  left: 158px;
  top: -9px;
  transform: translate(50%, 50%);
}

.hideI {
  visibility: hidden;
}

.playlistPlay {
  position: absolute;
  font-size: 135%;
  left: 175px;
  top: 22px;
  transform: translate(50%, 50%);
}

.thumbnail {
  width: 85%;
  height: 75%;
  margin: 7px 2px;
  background-size: cover;
  background-position: center;
}

.label {
  width: 85%;
}

.badge {
  width: 14%;
  padding-left: 3px;
  border-radius: 50%;
  float: left;
}

.title {
  width: 81%;
  font-size: 6px;
  float: right;
  text-align: left;
}