body {
  background: grey;
  margin: 0px;
}

#container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#header {
  width: 100vw;
  height: 6%;
  background: white;
  position: relative;
}

#header-left {
  width: 10%;
  height: 100%;
  background: white;
  float: left;
}

#main-menu {
  width: 25%;
  height: 100%;
  padding-left: 10%;
  float: left;
  transform: translateY(-5%);
  background: white;
}

#main-menu:hover {
  cursor: pointer;
}

#main-menu i {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#logo {
  width: 65%;
  height: 99%;
  background: url(./logo.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  float: right;
}

#logo:hover {
  cursor: pointer;
}

#header-center {
  width: 30%;
  height: 60%;
  position: absolute;
  left: 45%;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

#searchBar {
  padding-left: 10px;
  height: 100%;
  float: left;
  outline: solid 1px grey;
}

#searchBar input {
  width: 362px;
  height: 30px;
  border: 0px;
  clear: both;
  padding: 0px;
}

#searchEnter {
  width: 25px;
  height: 100%;
  outline: solid 1px grey;
  float: left;
  padding: 5px;
  text-align: center;
}

#voiceControl {
  width: 40px;
  height: 100%;
  float: left;
  line-height: 30px;
  text-align: center;
}

#header-right {
  position: relative;
  /* left: 45%; */
  top: 50%;
  transform: translateY(-50%);
  float: right;
  overflow: hidden;
  width: 12%;
  height: 80%;
}

#header-right table {
  display: table;
  border-collapse: separate;
  box-sizing: border-box;
  text-indent: initial;
  border-spacing: 2px;
}

#header-right table td {
  height: 100%; 
}

#header-right table i {
  font-size: 22px;
  line-height: 36px;
}

#header-right table tr td:hover {
  cursor: pointer;
}

#upload {
  width: 36px;
  height: 36px;
  background: white;
  text-align: center;
}

#apps-menu-icon {
  width: 24px;
  height: 24px;
  line-height: 36px;
}

#setting {
  width: 36px;
  height: 36px;
}

#profile {
  width: 36px;
  height: 36px;
}

#left {
  width: 14%;
  height: 94%;
  float: left;
  background-color: white;
  overflow-x: hidden;
  overflow-y: scroll;
}

#main {
  /* width: 190px; */
  height: 1130px;
  overflow-x: hidden;
  background: white;
}

.a1 {
  width: 210px;
  height: 100px;
}

.a1 tr:hover {
  padding: 0px 10px;
  background: rgb(173, 173, 173);
  cursor: pointer;
}

.a1 td {
  width: 50px;
  height: 40px;
}

.a1 i {
  font-size: 15px;
}

#right {
  width: 86%;
  height: 94%;
  margin: 0px;
  background-color: white;
  float: right;
  overflow-x: hidden;
}

body table { 
  width: 100%; 
}

body table td {
  width: 25%;
  height: 215px;
}

.container {
  width: 100%;
  height: 215px;
  position: relative;
}

.container:hover {
  cursor: pointer;
}

.watchLater {
  position: absolute;
  font-size: 135%;
  left: 158px;
  top: -9px;
  transform: translate(50%, 50%);
}

.hideI {
  visibility: hidden;
}

.playlistPlay {
  position: absolute;
  font-size: 135%;
  left: 175px;
  top: 22px;
  transform: translate(50%, 50%);
}

.thumbnail {
  width: 85%;
  height: 75%;
  margin: 7px 2px;
  background-size: cover;
  background-position: center;
}

.label {
  width: 85%;
}

.badge {
  width: 14%;
  padding-left: 3px;
  border-radius: 50%;
  float: left;
}

.title {
  width: 81%;
  font-size: 6px;
  float: right;
  text-align: left;
}